.user-wrapper{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
}

.banner-user-profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-user-profile img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
}

.banner-user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    display: flex;
    gap: 20px;
}

.banner-user-info .top{
    display: flex;
    gap: 50px;
}


.banner-user-info .top h1{
    font-size: 30px;
    text-shadow: 1px 2px 6px gray;
}

.banner-user-info .top .user-interactions{
    display: flex;
    gap: 20px;
}

.user-interactions span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 0 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.user-interactions #follow-btn{
    color: #f6f1f1;
    background-color: #19A7CE;
    transition: all 0.6s ease; /* Add smooth transitions for opacity and height */
}

.user-interactions #follow-btn.unfollow{
    color: #000;
    background-color: #dfdfdf;
}

.user-interactions #follow-btn.unfollow:hover{
    background-color: #d6d6d6;
}

.user-interactions #follow-btn:hover{
    background-color: #1792b4;
}

.user-interactions #message-btn{
    background-color: #dfdfdf;
}

.user-interactions #message-btn:hover{
    background-color: #d6d6d6;
}

.banner-user-info .bottom{
    display: flex;
    gap: 30px;
}

.bottom b{
    font-weight: 400;
    cursor: pointer;
}

.bottom span{
    font-weight: 800;
}

.user-main{
    display: flex;

    justify-content: space-between;
}

.user-contacts{
    position: fixed;
    height: 60vh;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #f6f1f1;
    font-size: 28px;
    display: flex;
    gap: 25px;
    border-radius: 15px;
}

.user-contacts h6{
    margin-top: 5px;
    text-align: center;
}

.user-contacts .contacts{
    display: flex;
    flex-direction: column;

}

.user-contacts  .contact{
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 30px;
    font-size: 20px;

}

.user-contacts .contact img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: contain;
}

.user-posts{
    display: flex;
    flex: 4;
    justify-content: center;
    
}

.user-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .user-contacts{
        display: none
    }

}

@media screen and (max-width: 768px) {

        .banner-user-profile img{
            height: 100px;
            width: 100px;
        }
        
        .banner-user-profile h1{
            font-size: 26px;
        }


        .banner-user-info{
            position: relative;
            font-size: 15px;
            top: 40px;
            gap: 10px;
        }
}

@media screen and (max-width: 480px) {
    .user-wrapper{
        margin-top: 45px;
    }

    .banner-user-profile{
        flex-direction: column;
    }

    .banner-user-profile img{
        height: 80px;
        width: 80px;
    }

    .banner-user-profile h1{
        font-size: 20px;
        white-space: nowrap;
    }

    .banner-user-info{
        top: -20px;
        left: 30px;
    }
}