.user-wrapper{
    margin-top: 60px;
    display: flex;
    flex-direction: column;
}

.center-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-banner{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 20px;
}

.banner-user-profile{
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.banner-user-profile img{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #999999;
}

.banner-user-profile span{
    position: absolute;
    right: 5px;
    bottom: 5px;
    color: #ffffff;
    background-color: #d6d6d6;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.banner-user-profile span:hover{
    color: #000;
    background-color: #e1e1e1;
    transform: scale(1.1);
}

.profilePic-options{
    display: flex;
    flex-direction: column;
    gap: 7px;
    height: 4rem;
    background-color: #f6f1f1;

    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 4px 10px rgba(0,0,0,0.41);
}

.profilePic-options .options{
    padding:4px;
    border-radius: 10px;
}

.profilePic-options .options:hover{
    background-color: #fdfdfd;
}

.profilePic-options b{
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

.banner-user-info{
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 22px;
    display: flex;
    gap: 20px;
}

.banner-user-info .top{
    display: flex;
    gap: 50px;
}


.banner-user-info .top h1{
    font-size: 30px;
    text-shadow: 1px 2px 6px gray;
}

.banner-user-info .top .user-interactions{
    display: flex;
    gap: 20px;
}

.user-interactions span{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
    padding: 0 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.user-interactions #follow-btn{
    color: #f6f1f1;
    background-color: #19A7CE;
    transition: all 0.6s ease; /* Add smooth transitions for opacity and height */
}

.user-interactions #follow-btn.unfollow{
    color: #000;
    background-color: #dfdfdf;
}

.user-interactions #follow-btn.unfollow:hover{
    background-color: #d6d6d6;
}

.user-interactions #follow-btn:hover{
    background-color: #1792b4;
}

.user-interactions #message-btn{
    background-color: #dfdfdf;
}

.user-interactions #message-btn:hover{
    background-color: #d6d6d6;
}

.banner-user-info .bottom{
    display: flex;
    gap: 30px;
}

.bottom b{
    font-weight: 400;
    cursor: pointer;
}

.bottom span{
    font-weight: 800;
}

.user-main{
    display: flex;

    justify-content: space-between;
}

.user-banner .image-preview-background{
    position: fixed;
    width: 101%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    background-color: rgba(46, 46, 46, 0.9);
    backdrop-filter: blur(2px);
}

.user-banner .image-preview{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    width: 30%;
    height: 32%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background-color: #f2f2f2;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.user-banner .image-preview #close-btn{
    position: absolute;
    left: 10px;
    background-color: #d6d6d6ab;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
}

.user-banner .image-preview #close-btn:hover{
    color: #aa1212;
    background-color: #f2f2f2;

}

.user-banner .image-preview img{
    width: 160px;
    height: 160px;
    object-fit: cover;
    border-radius: 50%;
    border: 1px solid #666666;
    margin-top: 1.5rem;
}

.user-banner .image-preview #submit-btn{
    width: 100%;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: white;
    background-color: #19A7CE;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.user-banner .image-preview #submit-btn:hover{
    background-color: #1792b4;
}

.user-posts{
    display: flex;
    flex: 4;
    justify-content: center;
    
}

.user-posts{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px;
}

@media screen and (max-width: 900px) {
    .user-contacts{
        display: none
    }

}

@media screen and (max-width: 768px) {

        .banner-user-profile img{
            height: 100px;
            width: 100px;
        }
        
        .banner-user-profile h1{
            font-size: 26px;
        }


        .banner-user-info{
            position: relative;
            font-size: 15px;
            top: 0px;
            gap: 10px;
        }
}

@media screen and (max-width: 546px) {
    .bottom{
        text-align: center;
    }
}

@media screen and (max-width: 480px) {
    .user-wrapper{
        margin-top: 45px;
    }

    .user-banner{

    }

    .banner-user-profile{
        flex-direction: column;
    }

    .banner-user-profile img{
        height: 80px;
        width: 80px;
    }

    .banner-user-profile h1{
        font-size: 20px;
        white-space: nowrap;
    }

    .banner-user-info{
        top: 0%;
        right: 50px;
    }
}