.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Wrapper{
    width: 80%; 
    max-width: 580px;
    padding: 10px 20px;
    border: solid 1px #19A7CE;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgba(0, 0, 0, 0.3);
}

.Wrapper h2{
    font-size: 32px;
    color: #19A7CE;
    margin-bottom: 15px;
}

.Wrapper b{
    font-weight: 400;
    color: #19A7CE;
    cursor: pointer;
    display: inline-block;
}

.Wrapper b::after{
    background: #19A7CE;
    content: "";
    width: 0px;
    height: 1px;
    display: block;
    transition: 300ms;
}


.Wrapper b:hover::after{ 
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-bottom: 12px;
}

.field{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.field label{
    font-size: 20px;
    transition: all 0.3s ease-in-out;
}

.field input {
    font-size: 18px;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgray;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
  
.field input:focus {
    border-bottom: 2px solid #19A7CE;
    box-shadow: 0px 2px 3px 0px #19a7ce38;
}

.field:focus-within label,
.field input:focus + label{
    color: #19A7CE;
    text-shadow: 3px 4px 3px #19a7ce38;;
}

button{
    width: 100px;
    background-color: #AFD3E2;
    font-size: 22px;
    font-weight: 600;
    margin-top: 10px;
    border: 1px solid lightgrey;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in;
}

button:hover{
    background-color: #afd3e2ae;
}

