.aside-container{
    height: 80vh;
    width: 15%;
    

    background-color: #F6F1F1;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 14px;

}

.item{
    background-color: #ececec;
    border-radius: 15px;
    padding: 7px 10px;
    box-shadow: 1px 2px 2px 1px lightgrey;
    cursor: pointer;
}

.item:hover{
    background-color:#f1f1f1
}

.userinfo{
    display: flex;
    align-items: center;
    gap: 10px;
}



.userinfo img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

@media screen and (max-width: 600px){
    .aside-container{
        display: none;
    }
}
