nav{
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: 60px;
    width: 100vw;
    top: 0;
    background: #19A7CE;
    box-shadow: 1px 1px 2px 2px rgb(42, 42, 42, 0.5);
    position: fixed;
    z-index: 100;
}

.wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 20px;
}

.logo-container{
    flex: 1
}

.logo-container a{
    text-decoration: none;
    font-weight: 600;
    font-size: 33px;
    cursor: pointer;
    text-align: center;
    color: #F6F1F1;
    text-shadow: 1px 2px 1px #000000;
}

.search-container-btn{
    display: none;
}


.search-container{
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container input{
    font-size: 16px;
    width: 50%;
    border: 1px solid lightgray;
    border-radius: 20px;
    outline: none;
    padding: 5px 15px;
    transition: all 300ms ease-in-out;
}

.search-container input:focus {
    border: 1px solid lightblue;
    box-shadow: 2px 2px 2px 1px rgb(0, 95, 126);
}

.search-container .material-symbols-outlined{
    height: 25px;
    width: 25px;
    position: relative;
    right: 33px;
    color: gray;
    cursor: pointer;
    font-variation-settings: 'opsz' 1
}

.options-hamburger-btn{
    display: none;
    color: #F6F1F1;
}

.options-container{
    flex: 1;
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: #F6F1F1;

}

.options-container a{
    color: #F6F1F1;
    text-decoration: none;
    position: relative;
    cursor: pointer;
    font-size: 22px;
}

.options-container a::after{
    content: '';
    position: absolute;
    width: 0;
    height: 2px; /* Set the underline height */
    background-color: #ffffff; /* Set the underline color */
    bottom: 0;
    left: 0;
    transition: width 0.3s ease; /* Adjust the transition duration and timing function */
}

.options-container a:hover::after{
    width: 100%;
}

.results{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 10px;
    background-color: #19a7cecf;
    padding: 10px;
    border-radius: 15px;
}

.result{
    width: 100%;
    background-color: #F6F1F1;
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 5px;
    border-radius: 20px;
    cursor: pointer;
}

.result:hover{
    background-color: #ffffff;
}

.result img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.result a{
    color: #000000;
    text-decoration: none;
}

@media screen and (max-width: 1120px){
    .options-container a{
        font-size: 18px;
    }
}

@media screen and (max-width: 782px){
    .options-container{
        display: none
    }   

    .options-hamburger-btn{
        display: flex;
        cursor: pointer;
    }

    .options-container.active{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 100%;
        left: 0;
        top: 60px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        background-color: #F6F1F1;
        border: 1px solid lightgrey;
        font-size: 15px;
    }

    .options-container div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        border-bottom: 1px solid lightgrey;
    }

    .options-container div a{
        color: #000000;
    }
}

@media screen and (max-width: 600px){
    .results{
        width: 60%;
    }
}   

@media screen and (max-width: 480px){
    nav{
        height: 45px;
    }

    .logo-container a{
        font-size: 22px;
    }

   .options-container.active{
        top: 45px;
    }

    .search-container{
        display: none;
    }

    .search-container.active{
        display: flex;
        width: 100%;
    }

    .search-container input{
        font-size: 14px;
    }

    .search-container-btn{
        display: flex;
        color: #F6F1F1;
        margin-right: 10px;
    }
}